/* EVERYTHING selector */
* {
  border: 1px solid grey;
}

/* element selectors */

h1 {
  color: yellow;
}

h2, h3 {

}

/* class selector */
.title {
  color: blue;
}

/* ID selector */
#bob {
  color: green;
}


/* child selector */
article > p {
  font-family: fantasy;
}

/* descendant selector */
article p {
  font-family: fantasy;
}

/*cascading:
  last over first
  specific over general*/

/* avoid !important */

/* inheritance */

/* browser quirks */
  /* see 'user agent stylesheet' in chrome dev tools */
